body   {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction:column;
    min-height:100vh;
    justify-content: space-between;
    align-items:center;
}

#content_wrap {
    display: flex;
    justify-content: center;
}
.content {
    margin:auto;
}

#count {
    text-align: center;
    display: block;
    font-size: 8em;
}

